<h2 style='padding-left:60px;'>Log in</h2>
<br>
<div style="width:800px;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field" style='padding-left:60px;'>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    <br>
      <div class="field" style='padding-left:60px;'>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    <br>
      <% if devise_mapping.rememberable? %>
        <div class="field" style='padding-left:60px;'>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions" style='padding-left:60px;'>
        <%= f.submit "Log in" %>
      </div>
    <% end %>
</div>